
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    

}
.hero::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(48, 41, 41, 0.8) 0%, rgba(58, 54, 54, 0.8) 100%), url(../img/mercedes.png);
    background-size: contain; /*cover*/
    clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 97%, 0 84%);
    z-index: -1;
    
    
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
}
.nav__img {
    display: block;
    width: 30px;
}